<div id="me">
    <p>
        <img src="/images/Headshot-Square.jpg" alt="Michael Zawacki" />
        I have been working in and around the software industry for engineering design and discrete manufacturing since 1998. Since 2009, I have worked at Microsoft as a Technology Evangelist helping ISVs in the manufacturing industry transform their businesses through  cloud services and modern client applications.
    </p>
    <p>
        <a href="http://twitter.com/MJZawacki">@MJZawacki</a> &#8226;
        <a href="https://github.com/MJZawacki">GitHub</a> &#8226;
        <a href="www.linkedin.com/in/mikezawacki/">LinkedIn</a> &#8226;
    </p>
</div>
