<div id="me">
    <p>
        <img src="/images/Headshot-Square.jpg" alt="Michael Zawacki" style="width: 100px;" />
        I have been working in the software industry for engineering design and discrete manufacturing since 1998. During that time, I've worked as an implementation consultant, presales engineer, and a product manager for Siemens PLM. Since 2009, I have worked at Microsoft as a Technology Evangelist helping Enterprise software vendors in the manufacturing industry transform their businesses through cloud services and modern client applications. The opinions expressed on this site are my own and not those of my employer, <a href="http://www.microsoft.com">Microsoft Corporation</a>.
    </p>
    <p>
        <a href="http://twitter.com/MJZawacki">@MJZawacki</a> &#8226;
        <a href="https://github.com/MJZawacki">GitHub</a> &#8226;
        <a href="http://www.linkedin.com/in/mikezawacki/">LinkedIn</a> &#8226;
    </p>
</div>
